<html>
    <head>
        <title>Gai Suetonius </title>
        <style>
            body {
              background-image: url('../static/moon.jpg');
              top:0;
              left:0;
              width:100%;
              min-height: 100%;
              min-width: 1px;
              overflow-x:hidden;
            }
        </style>
    </head>
<body>
    <center> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <strong> <p style="color:rgb(253, 253, 253); font-family:'Courier New'; font-size:40px"> Unspoken Truth </p>
        <p style="color:rgb(253, 253, 253); font-family:'Courier New'; font-size:10px">
        Gai Suetonius</p> 
        <br>
        <br>
        <br>
        <br> <p style="color:rgb(211, 182, 182); font-family:'Courier New'; font-size:20px; text-decoration: underline; "> MtG Tourney Day 1 Recap: Notes from the gathering...  Jun. 2015</p> 
    <p style="color:rgb(194, 65, 65); font-family:'Courier New'; font-size:15px; padding-left:100px; padding-right: 100px;">
    Fans got their first taste of Constructed play at Magic World Cup XXVII, with Day 1 closing out with two rounds of Standard play. The eight rounds of Day One competition showed everyone in the world championship was capable of staring down even the best of the best in competitive Magic without batting an eyelash. The first event at Arena Mythic Championships was the Draft, which was touted as the highest-stakes Limited event in Magic history.  
        <br>
        <br>
The broadcast team was still like they were at Arena Mythic Championships, and all the announcers did an excellent job, as usual. PiotrKanister Glogowski started the Magic World Championship XXVI with an aggressive Red/Black deck featuring two copies of Tectonic Giant and an Ox of Agonas. Six of the best Magic players around showed up in that specific build, four of them making it into the second day, two making it to Top 8.  
<br>
<br>
A handful of Mirror Matches did distort the win total, but it was clear that Grixis and the tournament favorites, Izzet Epiphany, were the decks to beat heading into Day 2. Team Handshake teammates Nathan Steuer and Julian Willman sit at 7-1 on the ladder. The format is designed for four players, with one player taking on the role of Archenemy, while the other three players build a team to fight against the Archenemy.  </p>
    <br>
    <br>
    <p style="color:rgb(211, 182, 182); font-family:'Courier New'; font-size:20px; text-decoration: underline; "> Review of card games and tabletop role-playing games (TTRPGs) - Sept. 2015, Jan. 2016 </p> 
    <p style="color:rgb(194, 65, 65); font-family:'Courier New'; font-size:15px; padding-left:100px; padding-right: 100px;">
        Did you think the latest board game you played was fun? Do you like deck-building rogue-likes? If so, you might want to check out this game I found by Triumvirate Games, which has a great new board game to play. 
        <br>
        <br>
        This game is a deck-building rogue-like game where players take on the role of a wizard, a cleric, or a mage, and try to win the game by making the best use of their resources. You can play this game for free at the official site. It's a fun game to pick up and play, so why not try out this new card game? You can also play Magic Online for fun, if you're a fan of the online game. There are many games available to players, but this is the one that is most popular. The game can be played for as low as $1. 99, making it an affordable way to get a lot of gaming fun. This is one of those games that you can't go wrong with, even if it isn't the newest game out. 
        <br>
        <br>
        #not sponsored </p>
        <br>
    <br>
    <p style="color:rgb(211, 182, 182); font-family:'Courier New'; font-size:20px; text-decoration: underline; "> Thinking out loud... - Jun. 2016  </p> 
    <p style="color:rgb(194, 65, 65); font-family:'Courier New'; font-size:15px; padding-left:100px; padding-right: 100px;">
        If you asked me about what one of my dream career goals is, I would tell you I absolutely want to own my own game design firm somewhere. I would like to get out there, and guide others in reaching their geeky career goals. Because creating the vision helps to determine what kind of future I actually want.   
        <br>
        <br>
        So, let us imagine the future, so that we can paint the picture of what the dream creative career looks like. We are not going to dare to dream of anything we are not good at, because we are too worried about being successful and getting it all right on first crack. I’m tired of waiting. I want to design games. Period. 
        </p>
    <br>
    <br>
    <p style="color:rgb(211, 182, 182); font-family:'Courier New'; font-size:20px; text-decoration: underline; "> Starting a new role - Aug. 2016  </p> 
    <p style="color:rgb(194, 65, 65); font-family:'Courier New'; font-size:15px; padding-left:100px; padding-right: 100px;">
        TL;DR: I got a new job!!!!!!!!  
        <br>
        <br>
        I’m starting my new job as a business development representative at a tabletop and card game company called Triumvirate Gaming :D I am so excited. Here's why.  
        <br>
        <br>
        * I'm excited to be part of a company that is so focused on making their product better and more fun to play. This company is the going to beat out Wizards of the Coast. I want to work for the people who are doing it the right way.
        <br>
        <br>
        * My job is to make the games better, to add value for their customer base, so they can continue to grow. How do they do this? By adding new features that make their game better. So I have to think about how to improve the game, not just the features. And then I need to get the customer's attention. The best part is, the customers will tell me what they want and they will make it happen. That's what makes things easy for BDRs. We are a team of great people and work together. 
        <br>
        <br>
        I can’t believe I’m working at a gaming company nowwwwwwww 
        </p>
    <br>
    <br>
    <p style="color:rgb(211, 182, 182); font-family:'Courier New'; font-size:20px; text-decoration: underline; "> Embarrassing encounter with Product team at holiday party  - Jan. 2018  </p> 
    <p style="color:rgb(194, 65, 65); font-family:'Courier New'; font-size:15px; padding-left:100px; padding-right: 100px;">
        Fuck the Product team. 
        <br>
        <br>
        What kind of person bullies me for not knowing how to code and basically telling me I'm not good enough???!!! Jared, the VP of Product and most senior person in the company, was the first to tell me that even if I wanted to design I am not a good enough of a programmer. He said I should just learn coding and but this is a tabletop company. He's right though. I look so fucking stupid. I am fucking stupid. I feel like I’m gonna explode and cry and throw up. 
        <br>
        <br>
        The problem is that the product guy has no idea what it takes to build a successful product or what a product manager does. So, he tells me he is just going to teach me how he does it, that is how I will become a designer. I've been working remotely for over a decade and I've had many remote jobs. Most of them were not great. Some of those jobs were so bad I didn't want to work there at all. Others were better than I thought they would be. 
        <br>
        <br>
        I thought this one would be better. 
        </p>
        <br>
        <br>

        <p style="color:rgb(211, 182, 182); font-family:'Courier New'; font-size:20px; text-decoration: underline; "> Embarrassing encounter with Product team at holiday party  - Jan. 2018  </p> 
        <p style="color:rgb(194, 65, 65); font-family:'Courier New'; font-size:15px; padding-left:100px; padding-right: 100px;">
            So here’s the tea. I’ve been doing some...design work. Or maybe I”m just a petty asshole. I’ve just been doing some...adjusted artwork on some final designs. But I got caught today. Holy shit. I’ve been able to fly under the radar for years, especially after last holiday party...ugh I could throw up just thinking about it. 
            <br>
            <br>
            I’ve literally never seen this guy in the five years I’ve been here. But he looks like one of the super senior devs who’ve been with the company for a while. It’s a big place. He told me that I would make a fine "design." I swear I told him that I wanted to be a designer. Maybe he’s like one of those weirdos who is intense about his job. He was kind of creepy. But, I was a little too scared to say that especially since I was basically defiling the products.  
            <br>
            <br>
            It's hard when you're just a sales pleb and don't have any idea of the bosses. When you are a senior developer, you can just fuck around willy nilly after big launches. That's the way it should work for everyone. You need someone who can tell you what you want to do, not someone that is just trying to get you to like them, like my dumb job.  
            <br>
            <br>
            And I know I will be able to use him in the future. Maybe even ask him to collab. 
            </p>





    </strong>
    </center>
    <iframe src="../static/creepy-piano-ambience-by-tim-kulig-from-filmmusic-io.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
        <audio id="player" autoplay="true" loop="true">
            <source src="../static/creepy-piano-ambience-by-tim-kulig-from-filmmusic-io.mp3" type="audio/mp3">
        </audio>
</body>
</html>