<html>
    <head>
        <title>Desktop</title>
        <style>
            body {
              background-image: url('../static/background.jpg');
              height: auto;
              position:fixed;
              top:0;
              left:0;
              max-height: 100%;
              width:100%;
              min-height: 100%;
              min-width: 1024px;
            }
            </style>
            <script>
                function imgWindow() {
                 window.open("") }
               </script>
    </head>
    <body>
        <a href="/folder">
        <img src="../static/window2.png" height="100px" width="100px"> </a>
        <br>
        <br>
        <img src="../static/recycling bin.jpg" height="100px" width="100px" onclick="window.open(this.src)">
        <iframe src="../static/creepy-piano-ambience-by-tim-kulig-from-filmmusic-io.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
        <audio id="player" autoplay="true" loop="true">
            <source src="../static/creepy-piano-ambience-by-tim-kulig-from-filmmusic-io.mp3" type="audio/mp3">
        </audio>
        
    </body>
</html>